.MainAboutBox {
  width: 100%;
  height: 800px;
  background-color: #262626;
  float: left;
  position: relative;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainAboutBox > div > .AboutBox {
  width: 100%;
  height: 100%;
  padding: 110px;
  position: relative;
}

.MainAboutBox > div > .AboutBox > h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 18%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.MainAboutBox > div > .AboutBox > .ImageBox {
  width: 400px;
  height: 500px;
  position: relative;
  margin-top: 10px;
  margin-left: 45px;
}

.MainAboutBox > div > .AboutBox > .ImageBox > img {
  width: 100%;
  height: 100%;
}

.MainAboutBox > div > .AboutBox > .ImageBox > .Logo {
  font-size: 250px;
  color: red;
  position: absolute;
  top: 92%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.MainAboutBox > div > .AboutBox > .ImageBox::after {
  content: "";
  width: 400px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 58%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.MainAboutBox > div > .AboutBox > .ImageBox::before {
  content: "";
  width: 130px;
  height: 130px;
  background-color: #fff;
  position: absolute;
  top: 92%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.MainAboutBox > div > .AboutBox > .AboutText {
  width: 700px;
  height: 300px;
  text-align: left;
  line-height: 48px;
  position: absolute;
  top: 43%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fff;
}
