.wrap {
  width: 100%;
  height: 100%;
}

.wrap > .Main {
  width: 100%;
  height: 1000px;
  background-color: red;
  position: relative;
}

.wrap > .Main > .InputBox {
  width: 600px;
  height: 850px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap > .Main > .InputBox > .titlebox {
  width: 100%;
  height: 60px;
  background-color: aqua;
  position: relative;
}

.wrap > .Main > .InputBox > .titlebox > h2 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.wrap > .Main > .InputBox > .titlebox > label {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.wrap > .Main > .InputBox > .InfoBox {
  width: 100%;
  height: 790px;
  background-color: azure;
  position: absolute;
}

.wrap > .Main > .InputBox > .InfoBox > .SideBar {
  width: 150px;
  height: 100%;
  background-color: bisque;
  float: left;
}

.wrap > .Main > .InputBox > .InfoBox > .SideBar > ul {
  width: 100%;
  height: 100%;
}

.wrap > .Main > .InputBox > .InfoBox > .SideBar > ul > li {
  font-size: 20px;
  padding: 38px 30px;
  text-align: center;
}

.wrap > .Main > .InputBox > .InfoBox > .SideBar > ul > li:nth-of-type(6) {
  margin-top: 50px;
}

.wrap > .Main > .InputBox > .InfoBox > select {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 7%;
  left: 63%;
  transform: translate(-50%, -50%);
}
.wrap > .Main > .InputBox > .InfoBox > input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
}
.wrap > .Main > .InputBox > .InfoBox > input:nth-of-type(1) {
  position: absolute;
  top: 19%;
  left: 63%;
  transform: translate(-50%, -50%);
}
.wrap > .Main > .InputBox > .InfoBox > input:nth-of-type(2) {
  position: absolute;
  top: 33%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.wrap > .Main > .InputBox > .InfoBox > input:nth-of-type(3) {
  position: absolute;
  top: 47%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.wrap > .Main > .InputBox > .InfoBox > input:nth-of-type(4) {
  position: absolute;
  top: 60%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.Idlist {
  width: 420px;
  height: 80px;
  overflow-y: scroll;
  position: absolute;
  top: 60%;
  opacity: 0;
  z-index: -1;
  left: 63%;
  transform: translate(-50%, -50%);
  padding: 7px;
}
.Idlist > .Idlist_item {
  width: 185px;
  height: 40px;
  border-radius: 10px;
  background-color: aquamarine;
  text-align: center;
  line-height: 40px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Idlist > .Idlist_item > .youtubeIcon {
  width: 20px;
  height: 20px;
  line-height: 40px;
  color: red;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.Idlist > .Idlist_item > .delete {
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  float: right;
}

.wrap > .Main > .InputBox > .InfoBox > input:nth-of-type(5) {
  position: absolute;
  top: 84%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.UploadBtn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 95%;
  left: 87%;
  transform: translate(-50%, -50%);
}
