* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  position: relative;
}

.warp {
  width: 100%;
  height: 100vh;
}

/* .MainPlate {
  width: 90%;
  height: 100vh;
  background-color: red;
  float: left;
  position: relative;
} */
