* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.AdminContainer {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 130px;
}
.AdminContainer > h1 {
  margin: 20px 0;
  text-align: left;
}

.ControllBox {
  width: 100%;
  height: 780px;
}
.ControllBox > .btnbox {
  width: 100%;
  height: 80px;
}
.ControllBox > .MainListBox {
  width: 100%;
  height: 698px;
  background-color: aqua;
  position: relative;
}

.ControllBox > .MainListBox > .List {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  transition: 0.5s;
  display: none;
}
.ControllBox > .MainListBox > .List > table {
  width: 100%;
  height: 50px;
}

.ControllBox > .MainListBox > .UserList {
  display: block;
}
/* .ControllBox > .MainListBox > .ContentList {
}
.ControllBox > .MainListBox > .BulletinList {
} */

@media (max-width: 1440px) {
}
