* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.AdminContainer {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 130px;
}

.ControllBox {
  width: 100%;
  height: 800px;
  background-color: red;
}

@media (max-width: 1440px) {
}
