* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

.Header {
  width: 100%;
  height: 100px;
  position: fixed;
}
.View {
  width: 100%;
  height: 650px;
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
}
