* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  position: relative;
}

/* .test {
  width: 100%;
  height: 550px;
  background-image: url("../assets/img/food.jpg");
  background-attachment: fixed;
} */
