* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}

.button {
  width: 90%;
  height: 70px;
  font-size: 25px;
  padding-top: 15px;
  color: #000;
  z-index: 10;
  border-radius: 25px;
  margin: 10px 0px;
}

.button:nth-last-of-type(1)::after {
  content: "Bulletin";
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.button:nth-last-of-type(2)::after {
  content: "Content";
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.button:nth-last-of-type(3)::after {
  content: "User";
  display: block;
  font-size: 15px;
  font-weight: bold;
}
