* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}

.button {
  width: 250px;
  height: 80px;
  margin: 0px 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: skyblue;
  float: left;
  line-height: 80px;
  font-weight: bold;
  font-size: 26px;
}
.button:nth-of-type(1) {
  margin-left: 0;
}
