.CheckBox {
  width: 10%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  padding: 17px 9px;
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
}
.CheckBox > input {
  margin: 0 5px;
}
