.Footer {
  width: 100%;
  height: 100px;
  background-color: #1b2049;
  float: left;
  position: relative;
}

.FooterConainer {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FooterConainer > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
