.Header {
  width: 100%;
  height: 80px;
  z-index: 11;
  background-color: #262626;
  float: left;
}

.Header_container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.Header_Logo {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 90px;
}
.Header_Logo_a {
  color: #fff;
  font-size: 50px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.Header_ul {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
}

.Header_li {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  padding: 22px 30px;
}
.Header_li_a {
  color: #fff;
  font-weight: bold;
}

.Hedaer_Login {
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
}
.Hedaer_Login_btn {
  display: block;
  border: none;
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: #4181c9;
  font-size: 21px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.Hedaer_Login > a {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.Hedaer_Login > button {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Hedaer_Login_btn_Admin {
  width: 150px;
  height: 40px;
  background-color: #fff;
  color: #4181c9;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}

.Hedaer_Login_btn_My {
  width: 110px;
  height: 40px;
  background-color: #fff;
  color: #4181c9;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .Header_ul {
    width: 60%;
  }
  .Hedaer_Login {
    width: 20%;
    position: relative;
  }

  .Hedaer_Login > .Hedaer_Login_btn_Admin {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .Hedaer_Login > .Hedaer_Login_btn {
    width: 100px;
    height: 40px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
  }
}
