.HotelListItem {
  width: 100%;
  height: 210px;
  float: left;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
}

.HotelListItem > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.5;
  z-index: -1;
}

.HotelListItem > .HotelTitleBox {
  width: 700px;
  height: 40px;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.HotelListItem > .HotelTitleBox > h1 {
  text-align: left;
}

.HotelListItem > h2 {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.HotelListItem > h4 {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 89.5%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
  .HotelListItem > .HotelTitleBox {
    width: 500px;
    left: 37%;
  }
  .HotelListItem > .HotelTitleBox > h1 {
    font-size: 24px;
  }
}
