.itemlist {
  width: 860px;
  height: 100px;
  border-radius: 10px;
  margin-left: 250px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 1px 3px 10px #dddddd;
  transition: 0.4s;
  background-color: #fff;
}

.itemlist:hover {
  transform: scale(1.1);
  border: 2px solid #7651e0;
}

.itemlist > .IconBox {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 58px;
  font-size: 45px;
  color: #000;
  float: left;
}

.itemlist > .InfoBox {
  width: 65%;
  height: 100%;
  float: left;
  position: relative;
}
.itemlist > .InfoBox > h2 {
  position: absolute;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.itemlist > .InfoBox > h5 {
  position: absolute;
  top: 80%;
  left: 15.5%;
  transform: translate(-50%, -50%);
}

.itemlist > .InfoBox > h6:nth-last-of-type(1) {
  position: absolute;
  top: 70%;
  right: 0%;
  transform: translate(-50%, -50%);
}
.itemlist > .InfoBox > h6:nth-last-of-type(2) {
  position: absolute;
  top: 70%;
  right: 15.5%;
  transform: translate(-50%, -50%);
}

.itemlist > .DeleteBox {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
}

.itemlist > .DeleteBox > button {
  width: 60%;
  height: 60%;
  border: none;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
  .itemlist {
    background-color: red;
  }
}
