* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.Plate {
  width: 90%;
  height: 100vh;
  float: left;
  background-color: red;
  position: relative;
}

.Plate > .board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}

#user {
  display: block;
}
