.input {
  display: none;
}
.MainViewBox {
  width: 100%;
  height: 800px;
  background-color: #000;
  float: left;
  position: relative;
  overflow: hidden;
}
.MainViewBox > .BackColor {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SlideBox {
  width: 100%;
  height: 100%;
}

.SlideBox > ul {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  position: relative;
}

.SlideBox > ul > li {
  display: inline-block;
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(500px) translate(-50%, -50%);
  transition: 1s;
}

.SlideBox > ul > li:nth-of-type(1) {
  top: 45%;
  left: -13%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -2;
  background-image: url("../assets/img/view4.jpg");
  background-position: center;
  background-size: 120% 120%;
}
.SlideBox > ul > li:nth-of-type(2) {
  top: 48%;
  left: 7%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.9);
  transform-origin: right center;
  z-index: -1;
  background-image: url("../assets/img/view3.jpg");
  background-position: center;
  background-size: 120% 120%;
}
.SlideBox > ul > li:nth-of-type(3) {
  transform: translate(-50%, -50%) scale(1);
  background-image: url("../assets/img/view1.jpg");
  background-position: center;
  background-size: 120% 120%;
}
.SlideBox > ul > li:nth-of-type(4) {
  top: 48%;
  left: 70%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.9);
  z-index: -1;
  background-image: url("../assets/img/view2.jpg");
  background-position: center;
  background-size: 120% 120%;
}
.SlideBox > ul > li:nth-of-type(5) {
  background-image: url("../assets/img/view5.jpg");
  background-position: center;
  background-size: 120% 120%;
  top: 45%;
  left: 92.2%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -2;
}

.SlideBox > ul > h1 {
  width: 420px;
  height: 150px;
  text-align: left;
  color: #fff;
  font-size: 47px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SlideBtnBox {
  width: 150px;
  height: 30px;
  background-color: beige;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SlideBtnBox > label {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 5px;
}

.btn1:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.btn1:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(2) {
  top: 48%;
  left: 69%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(1);
}
.btn1:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(3) {
  top: 45%;
  left: 92.2%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -1;
}
.btn1:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(4) {
  top: 45%;
  left: 93%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -2;
}
.btn1:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(5) {
  top: 45%;
  left: 94%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -3;
}

.btn2:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(1) {
  top: 48%;
  left: 7%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.9);
  transform-origin: right center;
}
.btn2:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.btn2:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(3) {
  top: 48%;
  left: 70%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.9);
  z-index: -1;
}
.btn2:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(4) {
  top: 45%;
  left: 93%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -2;
}
.btn2:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(5) {
  top: 45%;
  left: 94%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
  z-index: -3;
}

.btn3:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(1) {
  top: 45%;
  left: -13%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
}
.btn3:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(2) {
  top: 48%;
  left: 7%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.9);
  transform-origin: right center;
}
.btn3:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.btn3:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(4) {
  top: 48%;
  left: 70%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.9);
}
.btn3:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(5) {
  top: 45%;
  left: 92.2%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.8);
  transform-origin: left center;
}

.btn4:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(1) {
  top: 45%;
  left: -14%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -2;
}
.btn4:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(2) {
  top: 45%;
  left: -13%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -1;
}
.btn4:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(3) {
  top: 48%;
  left: 7%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.9);
  transform-origin: right center;
}
.btn4:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.btn4:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(5) {
  top: 48%;
  left: 72%;
  transform: perspective(500px) rotateY(-10deg) translate(-50%, -50%) scale(0.9);
}

.btn5:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(1) {
  top: 45%;
  left: -15%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -3;
}
.btn5:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(2) {
  top: 45%;
  left: -14%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -2;
}
.btn5:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(3) {
  top: 45%;
  left: -13%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.8);
  transform-origin: right center;
  z-index: -1;
}
.btn5:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(4) {
  top: 48%;
  left: 7%;
  transform: perspective(500px) rotateY(10deg) translate(50%, -50%) scale(0.9);
  transform-origin: right center;
}
.btn5:checked
  ~ .MainViewBox
  > .BackColor
  > div
  > .SlideBox
  > ul
  > li:nth-of-type(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
